# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                   contains default values for the environment variables needed by the app
#  * .env.local             uncommitted file with local overrides
#  * .env.$JOOMLA_ENV       committed environment-specific defaults
#  * .env.$JOOMLA_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# To set a configuration value use format JOOMLA_$KEY:
#
# JOOMLA_OFFLINE=1
# JOOMLA_SITENAME='Joomla!'
#
# All available configuration values are listed in installation/configuration.php-dist.

JOOMLA_ENV=dev
